header{
    display: flex;
    padding:0.05%;
}
div{
    display:flex;
}

div.searchbar{
    padding:2.105%;
    padding-left:25%;
    padding-right:10%;
}

.searchbar{
    background-color: 
rgba(229, 242, 244);
}
.yttreBox{
    padding-left:16%;
    background-color: rgb(245, 243, 243);
    padding-bottom:50%;
    padding-right: 28.2%;
}

.inreBox{
background-color: white;
padding-top:0.8%;
padding-left: 6% ;
padding-right: 6% ;
padding-bottom: 130%;

}

.innerstaBox{
    justify-content: center;
    
}
.main{
    display: flex;
}

h5{
    color: 
rgba(229, 242, 244);
    font-size: 300%;
    margin:0%;
    margin-left:40%;
    margin-top:-15%;
}
.bild1{
    scale:61%;
    margin-left:68%;
    margin-right:-18%;
}
.bild2{
    scale:77%;
    margin-left:0%;
    margin-right: 310%;
}
.snedsträck{
    margin-right:-30%;
    scale: 93%;
    margin-bottom: 2%;
}
